body {
  margin: 10px;
  font: 15px 'Open Sans', Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#webcam_stream {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}
#webcam_stream video {
  border: 2px solid #dcc;
}
#second_counter {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}
#conversation {
  padding: 10px 10px 80px;
  overflow-y: scroll;
  height: 100%;
}
#submission {
  position: fixed;
  bottom: 0;
  width: 79%;
  left: 0%;
  border-top: 2px solid #dcc;
  background: #fff;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
#waiting {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  color: white;
  text-align: center;
  padding: 50px 0;
}
#video_box {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: 20%;
  border: 2px solid #000;
}
#conversation {
  padding: 10px;
  overflow-y: scroll;
  height: 90%;
  width: 80%;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
}
.msg {
  text-align: center;
}
.user1_msg {
  position: relative;
}
.user2_msg {
  position: relative;
}
.message-box {
  margin: 10px 10px 10px 10px;
  width: 242px;
  word-wrap: break-word;
  text-wrap: normal;
  padding: 5px 5px 5px 5px;
  border: 2px solid #000;
}
video {
  margin: 0 0 0 0;
  border: 1px solid #000;
}
#instructions {
  position: absolute;
  top: 300px;
  color: #000;
  font-size: 75%;
  padding: 5px;
}
#instructions h1 {
  color: #f00;
  padding: 0px;
  margin: 0 auto;
  font-size: 125%;
}
